<footer class="footer mt-auto py-3 bg-light text-center">
    <p>
        Aureon Mobility desarrollado por Javier Pasamontes y Sergio Sánchez
        &copy;
    </p>
    <p>Certificado con W3C &reg;</p>
</footer>
<script src="/dist/bootstrap-5.1.1-dist/js/bootstrap.min.js"></script>
<script src="/js/accesibilidad.js"></script>
<script src="/js/atajos-teclado.js"></script>
<script src="/js/formularioNuevoVehiculo.js"></script>
<script src="/js/formularioReserva.js"></script>
<script src="/js/formularioRegistro.js"></script>
<script src="/js/formularioConcesionario.js"></script>
<script src="/js/modalEliminar.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/mapa.js"></script>
<script src="/js/modalReview.js"></script>
<script src="/js/formularioLogin.js"></script>
<script src="/js/vehiculo-elegido.js"></script>
<script src="/js/info-vehiculo.js"></script>
<script src="/js/tablaVehiculosAjax.js"></script>
<script src="/js/tablaReservasAjax.js"></script>
<script src="/js/tablaUsuariosAjax.js"></script>
<script src="/js/tablaConcesionariosAjax.js"></script>
<script src="/js/admin.js"></script>