<div class="container mt-5 pt-5 panel-mis-reservas">
  <h2 class="mb-4 text-center">Mis reservas</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="tabla-reservas">
      <caption>Mis reservas</caption>
      <thead>
        <tr class="table-dark">
          <th scope="col">ID Reserva</th>
          <th scope="col">Vehiculo</th>
          <th scope="col">Estado</th>
          <th scope="col">Cliente</th>
          <th scope="col">Telf. Cliente</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<%- include('modal-eliminar') %>